@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff0000;
  }

li {
    float: left;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
  }

li a button {
    font-family:'Times New Roman', Times, serif; 
    font-weight: 400;
    font-size: 16px;
    color:white 
    
}