@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --navheight: 90px;
}

h1 {  
  margin-bottom: 0;
}

#creators {
  margin: 0 0 20px 0;
}


ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff0000;
  height: var(--navheight);

}

li {
  float: left;
}

li a {

  font-family: serif;
  line-height: 18px;
  display: block;
  color: rgba(255, 255, 255, 0.955);
  text-decoration: none;

  padding: 36px 50px 33px;  
  border-bottom: 3px solid rgb(255, 0, 0);
}

li a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

li img{
float: right;
background-color: white;
width: var(--navheight);  /* also sets the height */
}
