@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

title {
  margin-bottom: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}
div {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20;
}

ul {
   font-family: "Roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff0000;
  }

li {
   font-family: "Roboto", sans-serif;
    float: left;
  }

li a {
    font-family: "Roboto", sans-serif;;
    display: block;
    color: rgba(255, 255, 255, 0.955);
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border-bottom: 3px solid red;
}

li a:hover {
    border-bottom: 3px solid white;
  }

li img{
  background-color: white;
  width: 60px;
  height: 60px;
  border-bottom: 3px solid white;
}